@model IEnumerable<Petnb_MVC5.Models.OwnerUser>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.OwnerUserId }) |
                @Html.ActionLink("Details", "Details", new { id=item.OwnerUserId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.OwnerUserId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
